header {
  color: $white;
  position: relative;
  min-height: 100vh;
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    opacity: 0;
    transform: translateY(40px);
    animation: header-anim 1.5s forwards;

    @keyframes header-anim {
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    h1 {
      @include title;
      letter-spacing: 6px;
      font-size: 4rem;
      max-width: 60%;
      @media screen and (max-width: 700px) {
        font-size: 2rem;
        max-width: 80%;
      }
    }
    p {
      font-family: $font2;
      margin: 40px auto 60px;
      text-align: center;
      max-width: 80%;
    }
    span {
      border: 2px solid $white;
      border-radius: 50px;
      height: 60px;
      width: 60px;
      font-size: 1.2rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background: rgba(255, 255, 255, 0.126);
      }
    }
  }
  nav {
    background: rgba(255, 255, 255, 0.252);
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 85%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
  }
  ul {
    height: 100%;
    @include title;
    display: flex;
    align-items: center;
    &:hover li:not(:hover) {
      color: $white;
      background: none;
    }
    li {
      @include title;
      font-size: 0.7rem;
      padding: 0 15px;
      height: 100%;
      display: flex;
      align-items: center;
      transition: 0.4s;
      cursor: pointer;
      @media screen and (max-width: 700px) {
        font-size: 0.6rem;
        letter-spacing: 1px;
        padding: 0 10px;
      }

      &:first-child {
        background: $white;
        color: $black;
      }
      &:hover {
        background: $white;
        color: $black;
      }
      &:first-child {
        background: $white;
        color: $black;
      }
    }
  }
  .icons {
    display: flex;
    font-size: 1.1rem;
    min-width: 100px;
    max-width: 300px;
    width: 25%;
    justify-content: space-around;
    margin-right: 10px;
    transition: 0.4s;
    @media screen and (max-width: 700px) {
      display: none;
    }
    i {
      cursor: pointer;
      transition: 0.15s;
    }
    i:hover {
      scale: 1.3;
    }
  }
}
